html {
  overflow: scroll;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: black;
  margin-top: 10vh;
}

.cards .card {
  display: inline-grid;
  width: 47vh;
  height: 51vh;
  margin: 3vh;
  justify-content: space-evenly;

  background-color: black;
  color: white; /* This is for the text */
  border-radius: 3vh;
  padding: 2.5vh;
  transition: 400ms;
  box-shadow: 2vh 2vh 3.8vh rgb(25, 25, 25), -2vh -2vh 3.8vh rgb(60, 60, 60);
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(1.3vh);
  transform: scale(0.9, 0.9);
}

video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1.3vh;
  border-radius: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: x-large;
  font-weight: bold;
}
