.hacked {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  overflow: hidden;
  margin-top: 25vh;
}

h2 {
  font-family: "Noto Sans Mono", "monospace";
  font-size: clamp(18.5vh, 17.8vh, 18.5vh);
  color: white;
  padding: 0vh clamp(2vh, 3.5vh, 2vh);
  border-radius: clamp(0.75vh, 1.3vh, 2vh);
}

h2:hover {
  background-color: rgb(24, 26, 27);
  color: white;
}
